#backgroundProfile{
    background-image: url($background3);
    background-size: cover;
    margin: 0;
}
#grdProfile{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 540px 50px;
    grid-gap: 2px;
    margin: 0px;
}
#prof1{
    @include top;
}
.prof2{
    overflow: scroll;
    .profilePost{
        display: flex;
        justify-content: center;
        img{
            width: 150px;
            height: auto;
            border-radius: 50%;
        }
        p{
            margin-block-start: 0px;
            margin-block-end: 10px;
            font-family: tajawal;
            font-weight: bold;
            font-size: 26px;
        }
    }
    .userPosts{
        .name{
            font-family: tajawal;
            font-size: 16px;
            font-weight: bold;
            margin-block-end: 0px;
        }
        .date{
            font-family: tajawal;
            font-size: 9px;
            margin-block-end: 5px;
            margin-block-start: 0px;
        }
        img{
            width: 100%;
            height: auto;
        }
        .descriptionProf{
            font-family: tajawal;
            font-size: 11px;
            margin-block-end: 3px;
            margin-block-start: 0px;
        }
    }
    
    
}
.prof3{
    @include footer;
}