#backgroundProfile{
    display: block;
    background-image: url($background1);
    background-size: cover;
    font-family: Fresca;
    margin: 0;
}
#gridProfile{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 540px 50px;
    grid-gap: 2px;
    margin: 0px;
}
.prof1{
    @include top;
}
.prof2{
    background-color: white;
    img{
        width: 150px;
        height: auto;
        border-radius: 50%;
    }
    p{
        font-family: tajawal;
        font-weight: bold;
        font-size: 26px;
    }
}
.prof3{
    @include footer;
}