$btnColor: #0f9e84;
$background: '../imgBichigram/fondoBichi.jpg';
$background1: '../imgBichigram/fondo1.jpg';
$background2: '../imgBichigram/fondo2.jpg';
$background3: '../imgBichigram/fondo3.jpg';
$colorPrim: white;
$r1: '../imgBichigram/resp1.jpg';
$r2: '../imgBichigram/resp2.jpg';
$r3: '../imgBichigram/resp3.jpg';
$r4: '../imgBichigram/resp4.jpg';
