$btnColor: #0f9e84;
$background: '/imgBichigram/fondoBichi.jpg';
$background1: '/imgBichigram/fondo1.jpg';
$background2: '/imgBichigram/fondo2.jpg';
$background3: '/imgBichigram/fondo3.jpg';
$colorPrim: white;
