body{
    margin: 0;
}
#background1 {
    background-image: url($background);
    background-size: cover;
    font-family: Fresca;
    margin: 0;
}
.gridWelcome{
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 210px 200px 210px ;
    grid-gap: 12px;
    margin: 0px;
}
.w1{
    display: flex;
    align-content: center;
    div{
        display: flex;
        align-content: center;
        p{
            @include logoPrim;
            margin-bottom: 0px;
            margin-top: 80px;
            margin-left: 80px;
        }
    }
    
}
.w2{
    display: flex;
    align-content: center;
    flex-direction: column;
    @include text;
}
#newuser{
    display: none;
}
.w3{
    display: flex;
    align-content: center;
    nav{
        margin-left: 80px;
        #login{
        
            @include btn;
        }
    }
    
}
