#background2 {
  background-image: url("../imgBichigram/fondo2.jpg");
  background-size: cover;
  margin: 0;
}

#gridLogin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 280px 270px 110px;
      grid-template-rows: 280px 270px 110px;
  grid-gap: 2px;
  margin: 0px 30px;
}

.l1 p {
  margin: 20px 0px;
  font-family: fresca;
  font-size: 36pt;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}

.l1 img {
  margin: 0px 20px;
  width: auto;
  height: 210px;
}

.l2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l2 .form {
  margin: 0px 70px;
}

.l2 .input {
  margin: 10px 3px;
  width: 170px;
  padding: 6px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 15px;
  text-align: center;
}

.l2 p {
  font-family: tajawal;
  font-size: 12pt;
  color: white;
  text-align: center;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 2px black;
}

.l2 .btn {
  margin: 5px 25px;
  width: 125px;
  height: 25px;
  background: #0f9e84;
  border-radius: 15px;
  list-style-type: none;
  text-align: center;
  color: white;
}

.l2 .btn a {
  position: relative;
  color: white;
}

.l2 .icon {
  margin: 5px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40px;
  height: auto;
}

.l3 p {
  font-family: tajawal;
  font-size: 12pt;
  color: white;
  text-align: center;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 2px black;
}

#background3 {
  background-image: url("../imgBichigram/fondo3.jpg");
  background-size: cover;
  font-family: Fresca;
  margin: 0;
}

#gridNew {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 150px 350px 150px;
      grid-template-rows: 150px 350px 150px;
  grid-gap: 2px;
  margin: 0px 30px;
}

.n1 p {
  margin: 50px 0px 15px;
  font-family: fresca;
  font-size: 36pt;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}

.n1 h3 {
  font-family: tajawal;
  font-size: 12pt;
  color: white;
  text-align: center;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 2px black;
}

.n2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.n2 #imgContainer {
  position: relative;
  margin: 0px;
  width: 150px;
  height: 150px;
  background-color: hotpink;
  border-radius: 15px;
  color: white;
}

.n2 #imgContainer p {
  margin: 50px 25px;
  position: absolute;
  font-family: tajawal;
  font-size: 12pt;
  color: white;
  text-align: center;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 2px black;
}

.n2 #imgContainer #img {
  position: absolute;
  margin: 0;
  width: 150px;
  height: 150px;
  opacity: 0;
}

.n2 #imgContainer img {
  position: absolute;
  margin: 0px;
  border-radius: 15px;
}

.n2 .input {
  margin: 10px 3px;
  width: 170px;
  padding: 6px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 15px;
  text-align: center;
}

.n2 .btn {
  margin: 0px 25px;
  width: 125px;
  height: 25px;
  background: #0f9e84;
  border-radius: 15px;
  list-style-type: none;
  text-align: center;
  color: white;
}

.n2 .btn a {
  position: relative;
  color: white;
}

.n3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.n3 p {
  font-family: tajawal;
  font-size: 12pt;
  color: white;
  text-align: center;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 2px black;
}

.n3 .icon {
  margin: 5px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40px;
  height: auto;
}

#backgroundNewPost {
  background-image: url("../imgBichigram/fondo2.jpg");
  background-size: cover;
  font-family: Fresca;
  margin: 0;
}

#gridPost {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50px 540px 50px;
      grid-template-rows: 50px 540px 50px;
  grid-gap: 2px;
  margin: 0px;
}

.p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p1 div {
  margin: 5px 20px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.p1 div p {
  margin: 0px;
  font-family: fresca;
  font-size: 24pt;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}

.p1 img {
  margin: 0px 20px;
  width: 35px;
  height: auto;
}

.p2 {
  background-color: white;
}

.p2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p2 p {
  position: absolute;
  font-family: tajawal;
  font-size: 12pt;
  color: white;
  text-align: center;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 2px black;
}

.p2 #postPhoto {
  position: relative;
  border-radius: 15px;
  background-color: palevioletred;
  width: 360px;
  height: 360px;
}

.p2 #postPhoto input {
  width: 360px;
  height: 360px;
  opacity: 0;
}

.p2 #postPhoto #here {
  position: relative;
  border-radius: 15px;
  z-index: 1;
}

.p2 #postPhoto img {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 15px;
}

.p2 .btn {
  width: 125px;
  height: 25px;
  background: #0f9e84;
  border-radius: 15px;
  list-style-type: none;
  text-align: center;
  color: white;
}

.p2 .btn a {
  position: relative;
  color: white;
}

.p2 #registerDescription {
  width: 350px;
  height: auto;
}

.p2 #registerLocation {
  width: 350px;
  height: auto;
}

.p3 {
  margin: 0px;
}

.p3 a {
  margin: 0px;
}

.p3 ul {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.p3 li {
  margin: 0px 20px;
}

.p3 img {
  margin: 0px;
  width: 50px;
  height: auto;
}

#backgroundHome {
  background-image: url("../imgBichigram/fondo1.jpg");
  background-size: cover;
  margin: 0;
}

#gridHome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50px 540px 50px;
      grid-template-rows: 50px 540px 50px;
  grid-gap: 2px;
  margin: 0px;
}

.h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h1 div {
  margin: 5px 20px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.h1 div p {
  margin: 0px;
  font-family: fresca;
  font-size: 24pt;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}

.h1 img {
  margin: 0px 20px;
  width: 35px;
  height: auto;
}

.h2 {
  background-color: white;
  overflow: scroll;
}

.h2 #arthropods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

.h2 #arthropods .arts {
  width: 80px;
  height: auto;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

.h2 .lilGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 1fr;
      grid-template-columns: 50px 1fr 1fr;
  -ms-grid-rows: 25px 25px;
      grid-template-rows: 25px 25px;
}

.h2 .g1 {
  margin: 5px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.h2 .g1 img {
  border-radius: 50%;
}

.h2 .g2 {
  margin: 0;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.h2 .g2 p {
  font-family: tajawal;
  font-weight: bold;
  font-size: 16px;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.h2 .g3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.h2 .g3 p {
  font-family: tajawal;
  font-size: 11px;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.h2 .description {
  margin-left: 5px;
}

.h2 .description p {
  font-family: tajawal;
  font-size: 12pt;
  -webkit-margin-before: 3px;
          margin-block-start: 3px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.h2 .location {
  margin-left: 5px;
}

.h2 .location p {
  font-family: tajawal;
  font-size: 10pt;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.h2 .membicha {
  width: 50%;
  height: auto;
}

.h3 {
  margin: 0px;
}

.h3 a {
  margin: 0px;
}

.h3 ul {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.h3 li {
  margin: 0px 20px;
}

.h3 img {
  margin: 0px;
  width: 50px;
  height: auto;
}

body {
  margin: 0;
}

#background1 {
  background-image: url("../imgBichigram/fondoBichi.jpg");
  background-size: cover;
  font-family: Fresca;
  margin: 0;
}

.gridWelcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px;
      grid-template-columns: 360px;
  -ms-grid-rows: 210px 200px 210px;
      grid-template-rows: 210px 200px 210px;
  grid-gap: 12px;
  margin: 0px;
}

.w1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.w1 #logo {
  position: absolute;
  top: 26%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: fill 0.5s ease forwards 2s;
          animation: fill 0.5s ease forwards 2s;
}

.w1 #logo path:nth-child(1) {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  -webkit-animation: lineAnimation 1.5s ease forwards;
          animation: lineAnimation 1.5s ease forwards;
}

.w1 #logo path:nth-child(2) {
  stroke-dasharray: 117;
  stroke-dashoffset: 117;
  -webkit-animation: lineAnimation 1.5s ease forwards 0.2s;
          animation: lineAnimation 1.5s ease forwards 0.2s;
}

.w1 #logo path:nth-child(3) {
  stroke-dasharray: 143;
  stroke-dashoffset: 143;
  -webkit-animation: lineAnimation 1.5s ease forwards 0.4s;
          animation: lineAnimation 1.5s ease forwards 0.4s;
}

.w1 #logo path:nth-child(4) {
  stroke-dasharray: 231;
  stroke-dashoffset: 231;
  -webkit-animation: lineAnimation 1.5s ease forwards 0.6s;
          animation: lineAnimation 1.5s ease forwards 0.6s;
}

.w1 #logo path:nth-child(5) {
  stroke-dasharray: 117;
  stroke-dashoffset: 117;
  -webkit-animation: lineAnimation 1.5s ease forwards 0.8s;
          animation: lineAnimation 1.5s ease forwards 0.8s;
}

.w1 #logo path:nth-child(6) {
  stroke-dasharray: 258;
  stroke-dashoffset: 258;
  -webkit-animation: lineAnimation 1.5s ease forwards 1s;
          animation: lineAnimation 1.5s ease forwards 1s;
}

.w1 #logo path:nth-child(7) {
  stroke-dasharray: 116;
  stroke-dashoffset: 116;
  -webkit-animation: lineAnimation 1.5s ease forwards 1.2s;
          animation: lineAnimation 1.5s ease forwards 1.2s;
}

.w1 #logo path:nth-child(8) {
  stroke-dasharray: 187;
  stroke-dashoffset: 187;
  -webkit-animation: lineAnimation 1.5s ease forwards 1.4s;
          animation: lineAnimation 1.5s ease forwards 1.4s;
}

.w1 #logo path:nth-child(9) {
  stroke-dasharray: 279;
  stroke-dashoffset: 279;
  -webkit-animation: lineAnimation 2s ease forwards 2s;
          animation: lineAnimation 2s ease forwards 2s;
}

.w2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: tajawal;
  font-size: 12pt;
  color: white;
  text-align: center;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 2px black;
}

.w2 p {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

#newuser {
  display: none;
}

.w3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

.w3 nav {
  margin-left: 80px;
}

.w3 nav #login {
  width: 125px;
  height: 25px;
  background: #0f9e84;
  border-radius: 15px;
  list-style-type: none;
  text-align: center;
}

.w3 nav #login a {
  position: relative;
  color: white;
}

@-webkit-keyframes lineAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#backgroundProfile {
  background-image: url("../imgBichigram/fondo3.jpg");
  background-size: cover;
  margin: 0;
}

#grdProfile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50px 540px 50px;
      grid-template-rows: 50px 540px 50px;
  grid-gap: 2px;
  margin: 0px;
}

#prof1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#prof1 div {
  margin: 5px 20px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#prof1 div p {
  margin: 0px;
  font-family: fresca;
  font-size: 24pt;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}

#prof1 img {
  margin: 0px 20px;
  width: 35px;
  height: auto;
}

.prof2 {
  overflow: scroll;
}

.prof2 .profilePost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prof2 .profilePost img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.prof2 .profilePost p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  font-family: tajawal;
  font-weight: bold;
  font-size: 26px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.prof2 .userPosts img {
  width: 100%;
  height: auto;
}

.prof2 .userPosts .descriptionProf {
  font-family: tajawal;
  color: white;
  font-size: 16px;
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

.prof2 .userPosts .btn {
  width: 125px;
  height: 25px;
  background: #0f9e84;
  border-radius: 15px;
  list-style-type: none;
  text-align: center;
  color: white;
}

.prof2 .userPosts .btn a {
  position: relative;
  color: white;
}

.prof2 .userPosts .edit {
  color: grey;
}

.prof3 a {
  margin: 0px;
}

.prof3 ul {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.prof3 li {
  margin: 0px 20px;
}

.prof3 img {
  margin: 0px;
  width: 50px;
  height: auto;
}

@media screen and (min-width: 500px) {
  #background1 {
    background-image: url("../imgBichigram/resp1.jpg");
    background-size: 100% 100%;
  }
  .gridWelcome {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1.7fr 1fr 1.4fr;
        grid-template-rows: 1.7fr 1fr 1.4fr;
    grid-gap: 12px;
    margin: 0px;
  }
  .w1 #logo {
    top: 35%;
  }
  .w3 nav #login {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  #background2 {
    background-image: url("../imgBichigram/resp3.jpg");
    background-size: 100% 100%;
  }
  #gridLogin {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .l1 img {
    position: absolute;
    top: -5%;
    left: 48%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .l1 p {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  button.fb {
    background: none;
    border: none;
  }
  button.google {
    background: none;
    border: none;
  }
  #background3 {
    background-image: url("../imgBichigram/resp2.jpg");
    background-size: 100% 100%;
  }
  #gridNew {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 3.5fr 1fr;
        grid-template-rows: 1fr 3.5fr 1fr;
    gap: 15px;
  }
  .n1 h3 {
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  #backgroundHome {
    background-image: url("../imgBichigram/resp4.jpg");
    background-size: 100% 100%;
  }
  #gridHome {
    -ms-grid-columns: 1fr 600px 1fr;
        grid-template-columns: 1fr 600px 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .h1 {
    margin: 150px 0px;
  }
  .h1 button {
    background: none;
    border: none;
  }
  .h2 #posts {
    display: block;
    overflow: scroll;
  }
  .h2 #posts button {
    background: none;
    border: none;
  }
  .h3 {
    margin: 150px 0px;
  }
  #backgroundNewPost {
    background-image: url("../imgBichigram/resp2.jpg");
    background-size: 100% 200%;
  }
  #gridPost {
    -ms-grid-columns: 1fr 600px 1fr;
        grid-template-columns: 1fr 600px 1fr;
    -ms-grid-rows: 800px;
        grid-template-rows: 800px;
  }
  .p1 {
    margin: 150px 0px;
  }
  .p1 button {
    background: none;
    border: none;
  }
  .p2 form {
    margin-top: 30px;
  }
  .p3 {
    margin: 150px 0px;
  }
  #backgroundProfile {
    background-image: url("../imgBichigram/resp3.jpg");
    background-size: 100% 200%;
  }
  #grdProfile {
    -ms-grid-columns: 1fr 600px 1fr;
        grid-template-columns: 1fr 600px 1fr;
    -ms-grid-rows: 800px;
        grid-template-rows: 800px;
  }
  #prof1 {
    margin-top: 150px;
  }
  #prof1 button {
    background: none;
    border: none;
  }
  .prof3 {
    margin-top: 150px;
  }
}
/*# sourceMappingURL=style.css.map */