/* Initial page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f1f1;
}

#firstPage {
  width: auto;
  height: auto;
  background: linear-gradient(275.19deg, #c80a48 1.46%, #48020d 89.22%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  display: block;
}

#firstElement {
  padding: 70px;
  margin: 5px;
  width: 100%;
  flex-basis: auto;
  height: auto;
  text-align: center;
  border-radius: 0px;
  font-size: 18px;
  color: #ffffff;
}

.logIn {
  background: #c87b7b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  border-color: #c87b7b;
  color: #ffffff;
  width: 123px;
  height: 34px;
  font-size: 18px;
}

#newUser {
  font-size: 14px;
  width: 100%;
}

/*#createUser {
  display: none;
}*/

#logingUsers {
  display: block;
}

#allTheSite {
  display: none;
}

.boxInput {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  border-color: #ffffff;
  width: 260px;
  height: 41px;
  font-size: 18px;
}

.text-box {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-around;
  color:#5e6973;
}


.subtitle h3 {
  font-family: "Roboto", sans-serif;
  color: #040404;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 10px 0px 10px 5px;
}
.subtitle{
  width: 100%;
}

.hide {
  display: none;
}

.mobile-view {
  display: contents;
}

.desktop-view {
  display: none;
}

.margin-top {
  margin-top: 40px;
}

/*Header*/
.my-header {
  position: sticky !important;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(336.74deg, #c80a48 1.46%, #48020d 85.12%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 0px;
}

.logo img {
  width: 250px;
  padding: 10px 20px 10px 15px;
}

.user {
  width: 70px;
  border-radius: 80%;
  padding: 5px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-box-horizontal {
  display: flex;
  justify-content: space-between;
}

#sayHi {
  flex-direction: row;
}
.textPost{
  display: flex;
  justify-content: flex-start;
border-radius: 0px 35px 0px 35px;
border: 1px solid #5e6973;
width: 200%;
height: auto;
resize: none;

}
.postStyle{
  width: auto;
  height: auto;

}

/* Buttons */
.btnLike {
  width: 30px;
}

.like {
  display: flex;
  justify-content: flex-end;
}

.btnStyles,
.btnStyles1,
.btnStylesEdit,
.btnSty,
.btnStylesC,
.btnComment,
.btnAddC {
  font-size: 15px;
  width: 100px;
  height: 25px;
  border: 1px solid #8a0829;
  border-radius: 0.25rem;
  color: rgb(58, 57, 57);
  transition: color 0.15s ease-in-out;
}

.btnStyles:hover,
.btnStyles:active,
.btnStyles:focus {
  color: #fff;
  background-color: #8a0829;
}

.btnStyles1:hover,
.btnStyles1:active,
.btnStyles1:focus {
  color: #fff;
  background-color: #8a0829;
}

.btnStylesEdit:hover,
.btnStylesEdit:active,
.btnStylesEdit:focus {
  color: #fff;
  background-color: #8a0829;
}

/* Publications */
figure{
  display: flex;
  justify-content: space-around;
  
}
.imageBox {
  height: auto;
  border-radius: 100px;
  width: 90px;
}


.imgProfilePost {
  width: 50px;
  height: auto;
  border-radius: 100px;
}

.divBtnsPost {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.divName {
  display: flex;
  justify-content: center;
  color: #48020d;
  font-family: "Quicksand", sans-serif;
}

.styleNamePost {
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  left: 0px;
  top: 0px;
  border-radius: 5px 5px 5px 5px;
  color: #48020d;
  font-family: "Quicksand", sans-serif;
}

.nameDate {
  display: flex;
  flex-direction: column;
}

#card2 {
  text-align: justify;
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px 20px;
  font-family: "Montserrat",sans-serif;
}

.viewFormEdit {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5%;
  border-radius: 5px;
  position: fixed;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  width: 90%;
}

/*Tabs*/
.tabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
}

.tabs li {
  float: left;
  display: block;
  width: 50%;
}

.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 1px 1px 0 0;
  font-size: 1em;
  font-family: "Roboto",sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
  background: #fff;
  cursor: pointer;
  position: relative;
  top: 4px;
  width: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs label:hover {
  background: linear-gradient(336.74deg, #c80a48 1.46%, #48020d 85.12%);
  color: #fff;
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #fce7e7;
  border-radius: 10px;
}

.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: linear-gradient(336.74deg, #c80a48 1.46%, #48020d 85.12%);
  color: #fff;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/*#text-box {
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  height: 95%;
  resize: none;
}*/

/*Card modal*/
.card-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal{
  font-family: "Roboto",sans-serif;
  color: #040404;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  position: fixed;
  z-index: 3000;
  overflow: auto;
  min-height: 250px;
  border-radius: 0px 35px 0px 35px;
  border: 2px solid #8a0829;

}


/*Media querys*/
@media screen and (min-width: 450px) {
  .my-header {
    border-radius: 0px;
  }

  .modal {
    width: 70%; /* Could be more or less, depending on screen size */
    margin: 30% auto; /* 15% from the top and centered */
  }
}

@media screen and (min-width: 500px) {
  .col-8 {
    width: 60%;
    padding: 0px 15px;
  }
  .col-6 {
    width: 50%;
    padding: 0px 15px 0px 0px;
  }

  .col-4 {
    width: 40%;
    padding: 0px 15px;
  }

  .text-box {
    display: flex;
    justify-content: flex-start;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .col-4,
  .col-8 {
    float: right;
  }
  .card-img-bottom {
    width: 100%;
    height: auto;
  }
  .desktop-view {
    display: contents;
  }

  ul .mobile-view {
    display: none;
    width: 100%;
  }
  .tabs li {
    width: 100%;
  }

  .modal {
    width: 35%; /* Could be more or less, depending on screen size */
    margin: 15% auto; /* 15% from the top and centered */
  }
}
