@font-face {
    font-family: font-text;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  }

html, body{
  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, section, div{
    /*border: 2px solid red;*/
    
}

#main{
   box-sizing: border-box;
   margin: 0;
   background: linear-gradient(180deg, #FAF7EE 8.33%, #E5F6FF 32.81%, #99D8DD 60.94%, #5CB3C1 82.29%, #01587A 100%);
   background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
 /*   width: 100%;
    height: 100%;*/
}
.photo{
    width: 100px;
    border-radius: 50px;
}
.logo{
    width: 250px;
    padding: 20px;
}
.divisor{
    display: flex;
    justify-content: space-between; 
}
.positionone{
    width: 20%;
}
.positiontwo{
    width: 60%;
}
@media (min-height: 650px) {
    #main{
        width: 100%; 
        height: 100%;
    }
}

@media (max-width: 414px) {
    input[type=text], input[type=password] {
         width: 300px;
         
     }
}


/*
section, div{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
div{
    border: 2px solid #FFFFa7;
  
}
input{
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
    border: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
p{
    font-size: 30px;
   
}
*/