.image{
position: absolute;
width: 360px;
height: 179px;
left: 0px;
top: -0.5px;
}
h1{
 position: absolute;
width: 287.67px;
height: 79.33px;
left: 34.87px;
top: 170px;
font-family: Rajdhani;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
}
.logo{
    position: absolute;
width: 106.38px;
height: 96px;
left: 122.78px;
top: 225px;
}
.input{
width: 230px;
height: 30px;
left: 63.71px;
top: 351.17px;
}
.email{    
 position: absolute;
 width: 230px;
 height: 30px;
 left: 61.5px;
 top: 315px;
 background: rgba(147, 72, 232, 0.3);
 border-radius: 25px;
}
.password{
 position: absolute;
width: 230px;
height: 30px;
left: 64.5px;
top: 354px;
background: rgba(147, 72, 232, 0.3);
border-radius: 25px;
}
.acess{
position: absolute;
width: 130px;
height: 25px;
left: 116px;
top: 393px;
background: rgba(147, 72, 232, 0.3);
border-radius: 25px;
}
.pass{
position: absolute;
width: 110px;
height: 17px;
left: 124.3px;
top: 424px;
text-align: center;
font-family: Rajdhani;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
text-decoration-line: underline;
color: #2641D0;
}
.options{
    position: absolute;
    width: 72px;
    height: 18px;
    left: 148px;
    top: 448px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}
.logoF{
position: absolute;
width: 40px;
height: 40px;
left: 127px;
top: 488px;
border-radius: 15%;
}
.logoG{
position: absolute;
width: 40px;
height: 40px;
left: 196px;
top: 488px;
}
.not{
    position: absolute;
    width: 141px;
    height: 23px;
    left: 113px;
    top: 518px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.re{
position: absolute;
width: 76px;
height: 23px;
left: 145px;
top: 550px;
font-family: Rajdhani;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-decoration-line: underline;
color: #2641D0;
}
.dr{position: absolute;
    width: 151px;
    height: 18px;
    left: 101px;
    top: 622px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #000000;
}
.nav{

    width: 360px;
    height: 78px;
    left: 0px;
    top: 0px;
    background: rgba(250, 208, 208, 0.7);
}
.head{
width: 360px;
height: 78px;
background: rgba(250, 208, 208, 0.7);
}
h2{
    position: absolute;
    width: 190px;
    height: 29px;
    left: 85px;
    top: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
     color: #000000;
}
.p1{
position: absolute;
width: 308px;
height: 56px;
left: 33px;
top: 108px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #000000;
}
.name{
position: absolute;
width: 225px;
height: 30px;
left: 54px;
top: 204px;
background: rgba(147, 72, 232, 0.13);
border-radius: 15px;
}
.mail{
    position: absolute;
    width: 225px;
    height: 30px;
    left: 55px;
    top: 259px;
    background: rgba(147, 72, 232, 0.13);
    border-radius: 15px;  
}
.acs{
position: absolute;
width: 225px;
height: 30px;
left: 52px;
top: 314px;
background: rgba(147, 72, 232, 0.13);
border-radius: 15px;
}
.confirm{
 position: absolute;
width: 225px;
height: 30px;
left: 54px;
top: 369px;
background: rgba(147, 72, 232, 0.13);
border-radius: 15px;
}
.polit{
    position: absolute;
    width: 13px;
    height: 13px;
    left: 62px;
    top: 422px;
    
    background: #C4C4C4;
}
.acept{
position: absolute;
width: 189px;
height: 26px;
left: 88px;
top: 418px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 11px;
color: #000000;
}
.creat{
position: absolute;
width: 136px;
height: 35px;
left: 97px;
top: 470px;
background: rgba(147, 72, 232, 0.18);
border-radius: 15px;
}
.ctn{
    position: absolute;
width: 128px;
height: 28px;
left: 112px;
top: 544px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.iniciar{
    position: absolute;
width: 77px;
height: 15px;
left: 128px;
top: 560px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-decoration-line: underline;
color: #256BF4;
}
.root{
    width:360px;
    height:640px;
}