

#root{
    height: 100vh; 
}

/* *{
   margin:0;
   padding:0;
   box-sizing: border-box; 
   font-family: 'Poppins', sans-serif;
   font-size: medium;
} */




body{
    /*background-color:#131515;*/
    background-size: cover;
    background-color:#232323; 
     /* height: 600px; */
    color: rgb(212, 144, 41);
   
}
.form-container{
    margin: 50px;
    padding: 80px,80px,50px,80px;
    justify-content: center;
    color:#FAFAFA; 
}
.titles{
    font-size: large;
}

.centerItem{
    margin: 10px, 50px,10px,50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container-separate{
    margin-top: 20px;
    
}
a{
    text-decoration-color: #A5DED3;
    text-decoration:none;
    color: #A5DED3;
}

.btnIcon{
    margin-top: 50px;
    margin: 16px;
}

.registryLink{
    margin-top: 80px;
}
.back{
    padding: 20px;
    justify-content:left;
    margin-left: 30px;
    margin-top: 30px;
}
.rudyIcon{
    justify-content: center;
    color: #A5DED3;
}

.modal-content{
    width: 80px;
    display: flex;
    justify-content: center;
}
.containerPop{
        background-color: #E5E5E5;
        color:#232323;
        text-align: center;
        margin: 15px;
        padding: 15px;   
    }
    
.imagePop{
        font-size: 100px;
        color: #000000;
    }
.acceptDelete{
        font-size: 25px;
        background-color: #47C674;
        margin-right: 20px;
        border-radius: 10px;
        color:#2E2F32;
        
       }
.cancelDelete{
        font-size: 25px;
        background-color: #FF385F;
        margin-left: 20px;
        border-radius: 12px;
        padding-right: 10px;
        padding-left: 10px;
        color:#2E2F32;
       
}
.ocultEditProfile{
    visibility: hidden;
}
.active{
    visibility: visible;
}

.icons{
    cursor: pointer;
}

.photo-profile{
    margin-bottom: 5px;
}
 #nameProfile{
     margin-bottom: 0px;
 }

 #welcome-title{
     margin-bottom: 0px;
     margin-top: 10px;
     color: darkviolet;
 }

 #welcome-title{
    margin-bottom: 0px;
    margin-top: 0px;
    color: darkviolet;
}
 
 #instructions{
     padding: 10px;
     margin-bottom: 10px;
 }

 /* #editProfile{
     position: absolute;
 } */
 .info-profile{
     padding-bottom: 0px;
 }

 .slider{
     width: 100%;
     overflow: hidden;
     position: relative;
     
 }
 
 .welcome-info{
     width: 80%;
    
     background-color: rgba(255, 255, 255, 0.24);
     position: absolute;
     bottom: 45px;
     right: 75px;
 } 
 
 /* .cover{
     display: flex;
     height: 800px;
     background-image: url(/img/slider1.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100%;
 }  */

 /* Para el slide */
 .slider{
     width: 100%;
     height: 100% ;
     
     margin: 0;
     overflow: hidden;
     background-size: cover;
 }
 
 .slider ul{
     display: flex;
     padding: 0;
     
     width: 300%;
     animation: cambio 20s infinite;
     animation-timing-function: ease-in;
 }

 .slider li{
     width: 100%;
    list-style: none;
 }

 .slider img{
     width: 100%;
     height: 100%;
 }

 @keyframes cambio {
     0% { margin-left: 0; }
     20% { margin-left: 0; }

     25% { margin-left: -100%; }
     45% { margin-left: -100%; }

     50% { margin-left: -200%; }
     70% { margin-left: -200%; }
 }

 .navbar{
    visibility: hidden;
 }

 #goLogin{
     margin-bottom: 20px;
 }
