html{
    height: 100vh;
    background-color:#232323;
}

/* #root{
    height: 100vh;
    background-color:#232323;
    
}   */
body{
    /*background-color:#131515;*/
    height: 100vh;
     background-color:#232323; 
     /* height: 600px; */
     color:#FAFAFA; 
   
}

.form-container{
    background-color:#232323;
    margin-top: 0px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    justify-content: center;
    color:#FAFAFA; 
}
.titles{
    font-size: large;
}

.centerItem{
    margin: 10px, 50px,10px,50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container-separate{
    margin-top: 20px;
    
}
a{
    text-decoration-color: #A5DED3;
    text-decoration:none;
    color: #A5DED3;
}

.btnIcon{
    margin-top: 50px;
    margin: 16px;
}

.registryLink{
    margin-top: 80px;
}
.back{
    padding: 20px;
    justify-content:left;
    margin-left: 30px;
    margin-top: 0px;
}
.rudyIcon{
    justify-content: center;
    color: #A5DED3;
}

.modal-content{
    width: 80px;
    display: flex;
    justify-content: center;
}
.containerPop{
        background-color: #E5E5E5;
        color:#232323;
        text-align: center;
        margin: 15px;
        padding: 15px;   
    }
    
.imagePop{
        font-size: 100px;
        color: #000000;
    }
.acceptDelete{
        font-size: 25px;
        background-color: #47C674;
        margin-right: 20px;
        border-radius: 10px;
        color:#2E2F32;
        
       }
.cancelDelete{
        font-size: 25px;
        background-color: #FF385F;
        margin-left: 20px;
        border-radius: 12px;
        padding-right: 10px;
        padding-left: 10px;
        color:#2E2F32;
       
}
.ocultEditProfile{
    visibility: hidden;
}
.active{
    visibility: visible;
}
 .counter{
    margin: 5px;
    /* background-color: cadetblue; */
    color:#A5DED3;
} 
.contentLikes{
    display: flex;
    align-items: center;
}
.likes{
    margin: 5px;
    font-size: 40px;
    color:#A5DED3; 
}

.colorLike{
    color:yellow;

}
.sectionPosts{
    height: 100%;
    background-color:#232323;
}
 @media (min-width:700px) and (max-width:1024px){
    .form-container{
        background-color:#232323;
        margin-top: 0px;
        padding-top: 320px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 100px;
        justify-content: center;
        color:#FAFAFA; 
    }   
    .back{
        padding: 20px;
        margin-left: 150px; 
        margin-top: 0px;
    }
    
 }
 @media (min-width:1025px) {
    .form-container{
        background-color:#232323;
    margin-top: 0px;
    padding-top: 250px;
    padding-left: 550px;
    padding-right: 550px;
    padding-bottom: 100px;
    justify-content: center;
    color:#FAFAFA; 
    }   
    .back{
        padding: 20px;
        margin-left: 550px; 
        margin-top: 0px;
    }
    
 }